#header {
    font-family: var(--subfontE);
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    position: fixed;
    gap: 82vw;
    top: 0;
}

.logo {
    font-size: 1.575vw;
}

.logo>span {
    font-weight: bold;
}

.nav {
    position: relative;
    width: 5vw;
    height: 5vw;
    font-weight: lighter;
    padding: 3vw;
    background-color: var(--pointBg);
    border-radius: 100%;
    transform: rotate(25deg);
    right: 0;
}

.nav p {
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 0.9vw;
    color: var(--white);
    font-weight: lighter;
    border-radius: 100%;
    right: 1.7vw;
    top: 2.3vw;
}