#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30vh;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-family: var(--subfontE);
    font-size: 20px;
    font-weight: 300;
}

#header h1 span {
    font-weight: 800;
}

#header nav {
    width: 5.5vw;
    height: 5.5vw;
    background-color: var(--pointBg);
    border-radius: 100%;
    text-align: center;
    line-height: 5.5vw;
    color: var(--white);
    font-family: var(--subfontE);
    text-transform: uppercase;
    font-weight: 300;
    transform: rotate(45deg);
}

#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--pointBg);
    position: fixed;
}

#section1 .text>div:nth-child(1) {
    font-family: var(--fontE);
    font-weight: 800;
    font-size: 11vw;
    line-height: 1;
    text-align: left;
    margin-left: -4vw;
}

#section1 .text>div:nth-child(2) {
    font-family: var(--fontE);
    font-weight: 400;
    font-size: 11vw;
    line-height: 0.7;
}

#section1 .text>div:nth-child(3) {
    font-family: var(--fontE);
    font-weight: 300;
    font-size: 10vw;
    line-height: 1;
    text-align: right;
    margin-right: -5.7vw;
    margin-top: -1vw;
}

#section1 .intro_Circle {
    position: relative;
    /* 부모 요소에 상대 위치를 설정 */
}

#section1 .intro_Circle>.intro_Circle_left>div:nth-child(1) {
    width: 31.5vw;
    height: 31.5vw;
    border-radius: 50%;
    background-color: var(--pointBg);
    position: absolute;
    left: -97vw;
    top: 7vw;
}

#section1 .intro_Circle>.intro_Circle_left>div:nth-child(2) {
    width: 19.75vw;
    height: 19.75vw;
    border-radius: 50%;
    background-color: var(--pointColor);
    position: absolute;
    left: -79vw;
    top: 19.1vw;
    mix-blend-mode: color-dodge;
}

#section1 .intro_Circle>.intro_Circle_right>div:nth-child(1) {
    width: 23.5vw;
    height: 23.5vw;
    border-radius: 50%;
    background-color: var(--pointBg);
    position: absolute;
    right: -22vw;
    top: 12vw;
}

#section1 .intro_Circle>.intro_Circle_right>div:nth-child(2) {
    width: 19.75vw;
    height: 19.75vw;
    border-radius: 50%;
    background-color: var(--pointColor);
    position: absolute;
    right: -5vw;
    top: 19.1vw;
    mix-blend-mode: color-dodge;
}

#section1 .intro_Circle>.intro_Circle_center {
    width: 19.75vw;
    height: 19.75vw;
    border-radius: 50%;
    background-color: var(--pointColor);
    position: absolute;
    left: -48vw;
    top: -8vw;
    background-image: url(../img/intropototo.svg);
    background-size: cover;
    display: none;
}

#section2 {
    width: 100%;
    height: 2000px;
}