#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-family: var(--subfontE);
    font-size: 20px;
    font-weight: 300;
}

#header h1 span {
    font-weight: 800;
}

#header nav {
    width: 100px;
    height: 100px;
    background-color: var(--pointBg);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: var(--white);
    font-family: var(--subfontE);
    text-transform: uppercase;
    font-weight: 300;
}

#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--pointBg);
}

#section1 .text>div:nth-child(1) {
    font-family: var(--fontE);
    font-weight: 800;
    font-size: 11vw;
    line-height: 1;
    text-align: left;
    margin-left: -4vw;
}

#section1 .text>div:nth-child(2) {
    font-family: var(--fontE);
    font-weight: 400;
    font-size: 13vw;
    line-height: 0.7;
    text-transform: capitalize;
}

#section1 .text>div:nth-child(3) {
    font-family: var(--fontE);
    font-weight: 300;
    font-size: 10vw;
    line-height: 1;
    text-align: right;
    margin-right: -5.7vw;
    margin-top: -1vw;
}

#section2 {
    width: 100%;
    height: 2000px;
}