#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#header h1 {
    font-family: var(--subfontE);
    font-size: 20px;
    font-weight: 300;
}

#header h1 span {
    font-weight: 800;
}

#header nav {
    width: 100px;
    height: 100px;
    background-color: var(--pointBg);
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-family: var(--subfontE);
    text-transform: uppercase;
    font-weight: 300;
    transform: rotate(45deg)
}

#section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--pointBg);
}

#section1 .text>div:nth-child(1) {
    font-family: var(--fontE);
    font-weight: 100;
    font-size: 9vw;
    line-height: 1;
    text-align: left;
    margin-left: -4vw;
}

#section1 .text>div:nth-child(2) {
    font-family: var(--fontE);
    font-weight: 00;
    font-size: 11vw;
    line-height: 0.7;
}

#section1 .text>div:nth-child(3) {
    font-family: var(--fontE);
    font-weight: 900;
    font-size: 8vw;
    line-height: 1;
    text-align: right;
    margin-right: -6vw;
    margin-top: -1vw;
}

#section2 {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section2 .circle {
    width: 30vw;
    height: 30vw;
    background-color: var(--pointBg);
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#section2 .circle.c1 {
    transform: translate(-150%, -100%);
}

#section2 .circle.c2 {
    transform: translate(150%, -100%);
}

#section2 .circle.c3 {
    transform: translate(-100%, -100%);
    width: 25vw;
    height: 25vw;
    background-color: var(--pointColor);
}

#section2 .circle.c4 {
    transform: translate(100%, -100%);
    width: 25vw;
    height: 25vw;
    background-color: var(--pointColor);
}

#section2 .circle.c5 {
    background: url(../img/intropototo.svg) no-repeat;
    background-size: cover;
}

#section2 .desc {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, 270%);
    font-family: var(--fontK);
    text-align: center;
    margin-top: 1.5vw;
}

#section3 {
    width: 100%;
    height: 2000px;
    background-color: #000;
    position: relative;
    z-index: 2000;
    overflow: hidden;
}

.coding,
.project,
.blog {
    position: absolute;
    color: var(--white);
}

/* Coding */
.coding {
    width: 100%;
    position: absolute;
    top: 12%;
    left: 10%;
    text-align: left;
}

.coding .circle {
    width: 7.55vw;
    height: 7.55vw;
    position: absolute;
    top: -7.92vw;
    left: 11vw;
    background-color: var(--pointBg);
    border-radius: 50%;
}

.coding h2 {
    width: 100%;
    font-size: 9vw;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    position: absolute;
    top: 0.71vw;
    left: 0;
}

.coding p {
    font-size: 3.42vw;
    font-weight: 800;
    position: absolute;
    top: -2.65vw;
    left: 24.35vw;
}

/* Project */
.project {
    position: absolute;
    top: 58%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
}

.project .circle {
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 10vw;
    left: -7.1vw;
    background-color: var(--pointBg);
    border-radius: 50%;
}

.project h2 {
    font-size: 8vw;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    position: relative;
    display: inline-block;
    top: 14vw;
    left: -4vw;
}

.project p {
    font-size: 3vw;
    font-weight: 800;
    position: absolute;
    bottom: -16vw;
    left: 17.9vw;
    display: inline-block;
    width: 100%;
}

/* Blog */
.blog {
    position: absolute;
    top: 59%;
    right: 6%;
    transform: translateY(-50%);
    text-align: left;
    z-index: 1;
}

.blog .circle {
    width: 2.875vw;
    height: 2.875vw;
    position: absolute;
    top: -25.4vw;
    left: -33.6vw;
    background-color: #0038E9;
    border-radius: 50%;
    z-index: 2;
}

.blog h2 {
    font-size: 9vw;
    font-weight: 400;
    margin: 0;
    line-height: 1;
    position: absolute;
    top: -21.5vw;
    left: -38vw;
    z-index: 2;
}

.blog p {
    font-size: 3.375vw;
    font-weight: 800;
    position: absolute;
    top: -17.6vw;
    left: -13.5vw;
    z-index: 2;
}

.blog .image-placeholder {
    width: 71.5vw;
    height: 71.5vw;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(../img/maincircle.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -33.41vw;
    right: -60%;
    transform: translate(50%, 0);
    z-index: 0;
}

.section3_div {
    width: 10.48vw;
    height: 10.48vw;
    background-color: var(--pointBg);
    border-radius: 50%;
    position: absolute;
    bottom: 2.17vw;
    left: 59.77vw;
}

/* section4 */
#section4 {
    width: 100%;
    height: 3185px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: var(--fontK);
}

.card {
    border-radius: 10px;
    transition: transform 0.3s;
    margin-bottom: 50px;
    margin-top: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-content {
    position: absolute;
    top: -14.5vw;
    left: -1%;
    z-index: 1;
}

.overlay-content .h3-container {
    display: flex;
    align-items: center;
}

.overlay-content .blue-circle {
    width: 14px;
    height: 14px;
    background-color: var(--pointBg);
    border-radius: 50%;
    margin-right: 10px;
}

.overlay-content h3 {
    font-size: 1vw;
    color: black;
    margin: 0;
}

.card-content {
    padding: 20px;
    text-align: left;
    color: black;
    position: relative;
    z-index: 2;
}

.h3-container {
    position: relative;
    margin-bottom: 20px;
}

.card-content h3 {
    font-size: 1.5vw;
    margin: 0;
    color: var(--pointBg);
    display: inline-block;
}

.card-content .blue-circle {
    width: 14px;
    height: 14px;
    background-color: var(--pointBg);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -13px;
    transform: translate(-50%, -50%);
}

.card-content p {
    font-size: 0.8vw;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-content a {
    font-size: 0.8vw;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: color 0.3s, border-color 0.3s;
    color: black;
    margin-right: 10px;
}

.card-content a:last-child {
    margin-right: 0;
}

.card-content a:hover {
    color: #0056b3;
    border-color: #0056b3;
}

#section4 .card:nth-child(1) {
    top: 0;
    left: 10%;
    width: 30.2vw;
    height: 43.23vw;
}

#section4 .card:nth-child(2) {
    top: 27.44vw;
    right: 10%;
    width: 27.76vw;
    height: 37.03vw;
}

#section4 .card:nth-child(3) {
    top: 100.54vw;
    left: 50%;
    width: 32.81vw;
    height: 45.88vw;
    transform: translate(-50%, -50%);
}

/* section5 */
#section5 {
    width: 100%;
    height: 120vh;
    background-color: #0038E9;
    display: flex;
    justify-content: center;
    /* 수평 중앙 정렬 */
    align-items: center;
    /* 수직 중앙 정렬 */
    position: relative;
    overflow: hidden;
}

#section5 .content {
    text-align: center;
    /* 가운데 정렬 */
    color: white;
    position: relative;
    z-index: 2;
}

#section5 .line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 수평 중앙 정렬 */
}

#section5 .line_own {
    font-size: 12.5vw;
    font-weight: 800;
    margin-top: -1vw;
    margin-left: -65vw;
}

#section5 .line_to {
    font-size: 15vw;
    font-weight: 400;
    margin-top: -9vw;
}

#section5 .line_tree {
    font-size: 12.5vw;
    font-weight: 900;
    margin-top: -12vw;
    margin-right: -51.5vw;
}

#section5 .description {
    font-size: 1vw;
    width: 60%;
    line-height: 1.5;
    color: var(--white);
    text-align: left;
    margin-left: 72vw;
    margin-top: -3vw;
}

/* 배경 원 스타일 */
#section5 .background-circle {
    position: absolute;
    bottom: -29vw;
    left: -13vw;
    width: 50.1875vw;
    height: 50.1875vw;
    background-image: url(../img/subcircle.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
}

/* section6 */
#section6 {
    width: 100%;
    height: 2596px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-family: var(--fontK);
}

.circle_card {
    width: 30vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.circle_card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.circle_card-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    text-align: left;
    color: black;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    transform: translateY(10px);
    border-radius: 15px;
}

.circle_card:hover .circle_card-content {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.circle_h3-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle_blue-circle {
    width: 14px;
    height: 14px;
    background-color: var(--pointBg);
    border-radius: 50%;
    margin-right: 10px;
}

.circle_card-content h3 {
    font-size: 1vw;
    margin: 0;
    color: var(--pointBg);
}

.circle_card-content p {
    font-size: 0.8vw;
    margin-bottom: 10px;
}

.circle_card-content a {
    font-size: 0.8vw;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: color 0.3s, border-color 0.3s;
    color: black;
    margin-right: 10px;
}

.circle_card-content a:last-child {
    margin-right: 0;
}

.circle_card-content a:hover {
    color: #0056b3;
    border-color: #0056b3;
}

/* 위치 지정 */
.circle_card1 {
    position: absolute;
    top: 10%;
    left: 10%;
}

.circle_card2 {
    position: absolute;
    top: 40%;
    right: 10%;
}

.circle_card3 {
    position: absolute;
    top: 70%;
    left: 10%;
}