@charset "UTF-8";

/* 기본 세팅 */
@import "var.css";
@import "mixins.css";
@import "fonts.css";
@import "resets.css";

/* 페이지 세팅 */
@import "header.css";
@import "main.css";

/* 한글 타이핑 */
/* 
#target {
    font-family: var(--fontK);
    text-align: center;
    font-weight: bold;
    font-size: 0.8vw;
    margin-top: 150px;
} */

.target::after {
    content: "|";
    right: 0;
    animation: caret .8s infinite;
}


@keyframes caret {
    50% {
        opacity: 0;
    }
}